* {
  padding: 1;
  box-sizing: border-box;
}
html {
  font-size: 1rem;

  height: 100%;
}

h1 {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: black;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

p1 {
  color: black;
  background-color: white;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

body,
header,
main,
footer {
  /*border: 3px red solid;*/
  min-height: 50px;
  margin: 0.5rem;
  min-width: 400px;
}

header {
  border: 2px outset;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 100px;
}

nav {
  width: 80%;
  padding: 1em;
  font-family: /*Verdana, Geneva, sans-serif;*/'Times New Roman', Times, serif;
}

nav ul {
  text-align: right;
  list-style: none;
  padding: 10;
  margin: 10;
  background: blue;
}

nav li a {
  color: white;
  display: inline-grid;
  text-decoration: none;
  padding: 0.3em 0.3em;
}

nav li a:hover {
  background: lightblue;
  color: white;
}

.header-logo {
  width: 100%;
}

Main {
  min-height: 200px;
  height: 800px;
  overflow: auto;
}

Main > div {
  /*border: 2px blue solid;*/
  min-height: 180px;
  margin: 0.5rem;
  height: auto;
  float: left;
 /* width: 65%;*/
}
Main > aside {
  /*border: 2px greenyellow;*/
  min-height: 10px;
  margin: 0.5rem;
  height: auto;
  float: left;
  /*max-width: 30%;*/
}
Main {
  display: grid;
  width: auto;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  height: auto;
  overflow: auto;
}

@media all and (max-width: 500px) {
  Main {
    grid: none;
  }
}

Main1 {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: auto;
  overflow: auto;
}

Main1 > div {
  /*border: 2px blue solid;*/
  min-height: 180px;
  margin: 0.5rem;
  height: auto;
  float: left;
}

@media all and (max-width: 500px) {
  Main1 {
    grid: none;
  }
}

Main2 {
  /*border: 3px red solid;*/
  margin: 0.5rem;
  min-width: 400px;
  min-height: 200px;
  height: 800px;
  overflow: auto;
}

Main2 > div {
  /*border: 2px blue solid;*/
  min-height: 180px;
  margin: 0.5rem;
  height: auto;
  float: left;
 /* width: 65%;*/
}


.seccion1 {
  /*border: 2px green solid;*/
  min-height: 50px;
  margin: 0.5rem;
}

.seccion2 {
  /*border: 2px green solid;*/
  /*min-height: 50px;*/
  margin: 0.5rem;
}

a:hover {
  background: yellow;
}

#gif-ppal {
  border: 1px outset;
  padding: 25px;
  width: 100%;
  margin-top: 0;
  background:/* #000000;*/ white;
  transition-property: margin-top;
  transition-duration: 0.5s;
}

.gif-1 {
  width: 100%;
  padding: 50px;
  background: white;
  transition-property: margin-top;
  transition-duration: 0.5s;
}

.contacto {
  border: 1px solid #ced5d7;
  border-radius: 6px;
  padding: 45px 45px 20px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0px 5px 10px #b5c1c5, 0 0 0 10px #eef5f7 inset;
}

.contacto label {
  display: block; /* esto es para que el label se sobreponga a la caja de texto */
  font-weight: bold;
}

.contacto div {
  margin-bottom: 15px;
}

form {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  display: inline-block; /*Para que las etiquetas queden dentro del bloque al achicar la ventana*/
}

.container {
  display: flex;
  flex:  2fr 1fr;
  justify-content: space-around;
  flex-direction:row;
  align-items: center;
  background-color:whitesmoke;
  height: /*12rem*/auto;
  overflow: auto;
  color:blue;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  grid-gap: 10px;
  padding: 5%;
      
}



@media all  and (max-width: 500px) {
  container {
    grid: none;
  }
}

